@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Registrar</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Crea una Nueva cuenta de Usuario.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Nombre"></label>
                <input asp-for="Input.Nombre" class="form-control" />
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.CedulaRNC"></label>
                <input asp-for="Input.CedulaRNC" class="form-control" />
                <span asp-validation-for="Input.CedulaRNC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Direccion"></label>
                <input asp-for="Input.Direccion" class="form-control" />
                <span asp-validation-for="Input.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PaginaWeb"></label>
                <input asp-for="Input.PaginaWeb" class="form-control" />
                <span asp-validation-for="Input.PaginaWeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NombreComercial"></label>
                <input asp-for="Input.NombreComercial" class="form-control" />
                <span asp-validation-for="Input.NombreComercial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Confirma tu Contraseña</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Registrate</button>
        </form>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
