
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Bienvenido/a a Reportes, Seleccione alguna Opcion Disponible</h1>

<a class="btn btn-primary"  asp-action="ProdList">Listado de Productos con su Existencia</a>
<a class="btn btn-primary" asp-controller="Mapa" asp-action="Index">Ir al Mapa con los Clientes</a>