@using Microsoft.AspNetCore.Identity
@using ProyectoFinalProgIII.Data;
@inject SignInManager<Usuarios> SignInManager
@inject UserManager<Usuarios> UserManager
@model IEnumerable<ProyectoFinalProgIII.Data.Facturacion>

@{
    ViewData["Title"] = "Index";

    var factura = ViewBag.fact;
}


@if (SignInManager.IsSignedIn(User))
{
    <h1>Bienvenido</h1>
    <h4>En esta Pagina Web puede crear Facturas a sus Clientes y elegir sea un Producto o un Servicio.</h4>
    
        

}
else
{
   <h3>Por favor Registrese o Inicie Sesión</h3>
}



